# rellenar con valores reales (ver manual de Usuario/Tecnico)
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=myPassword123
PGDATABASE=gestion_flotillas_mvp
PGPORT=5432
PORT=4000
CLERK_SECRET_KEY=sk_test_kf78hsLPn4...
CLERK_PUBLISHABLE_KEY=pk_test_YWRqdXN0...
CLERK_WEBHOOK_SECRET=whsec_iHjwhKPx...
NGROK_DOMAIN=raptureless-iridescently-monte.ngrok-free.dev