# rellenar con los valores reales
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWRqdXN0ZWQt... #debe tener el mismo valor que CLERK_PUBLISHABLE_KEY del backend
EXPO_PUBLIC_API_URL=https://raptureless-iridescently-monte.ngrok-free.dev #debe tener el mismo valor que NGROK_DOMAIN del backend